html, body {
	font-size: 100%;
}

body, h1, h2, p, q {
	margin:0;
	padding:0;
}

body {
	box-sizing: border-box;
	line-height: 13px;
	font-family: serif;
}


@media screen and (max-width: 30em)
{
	.container {
		margin:auto;
	}

	h1 {
		font-size: 50px;
		line-height: 26px;
	}

	h2 {
		font-size: 28px;
	}

	p {
		font-size: 16px;
	}
}


@media screen and (min-width:30.01em) and (max-width: 48em)
{
	.container {
		margin:auto;
	}

	h1 {
		font-size: 50px;
		line-height: 26px;
	}

	h2 {
		font-size: 28px;
	}

	p {
		font-size: 16px;
	}
	
}

@media screen and (min-width:48.01em) and (max-width: 60em)
{
	.container {
		margin:auto;
	}

	h1 {

	}

	h2 {

	}

	p {
	
	}
}

@media screen and (min-width:60.01em) and (max-width: 80em)
{
	.container {
		margin:auto;
	}

	h1 {

	}

	h2 {

	}

	p {
	
	}
}

@media screen and (min-width:80.01em) 
{
	.container {
		margin:auto;
	}

	h1 {

	}

	h2 {

	}

	p {
	
	}
}