* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #444444;
}
h1 {
    font-size: 2.618em;
    color: #888888;
    font-weight: 100;
    text-align: center;
    line-height: 3rem;
    margin: 1rem auto 2rem auto;
}
h2 {
    font-size: 1.618em;
    line-height: 2rem;
    margin: 1rem auto 2rem auto;
    color: #cccccc;
    font-weight: 400;
    text-align: center;
}
p {
    color: #222222;
    font-family: serif;
    font-size: 1rem;
    line-height: 1rem;
}
q {
    font-style: italic;
    quotes: '' '';
}

@media screen and (max-width:30em)
{
    html, body {
        font-size: 24px;
    }
    .container{ 
        width: 90%;
        padding: 0 2em;
        margin: 0 auto;
    }
}

@media screen and (min-width:30.01em) and (max-width:48em)
{
    html, body {
        font-size: 28px;
    }
    .container{ 
        width: 85%;
        padding: 0 2em;
        margin: auto;
    }
}


@media screen and (min-width:48.01em) and (max-width:60em)
{
    html, body {
        font-size: 32px;
    }
    .container{ 
        width: 80%;
        padding: 0 2em;
        margin: auto;
    }
}


@media screen and (min-width:60.01em) and (max-width:80em)
{
    html, body {
        font-size: 36px;
    }
    .container{ 
        width: 75%;
        padding: 0 2em;
        margin: auto;
    }
}

@media screen and (min-width:80.01em)
{
    html, body {
        font-size: 40px;
    }
    .container{ 
        width: 70%;
        padding: 0 2em;
        margin: auto;
    }
}

Offendit coniunctione ita vidisse. Dolore offendit aliquip, nam quorum 
cohaerescant. Duis ita incididunt, culpa incididunt est despicationes. Vidisse 
sed magna non labore arbitror an irure quis te do aliqua efflorescere, si eram 
dolor ea incididunt. Ubi aliqua mandaremus exquisitaque, culpa nostrud 
domesticarum ex te quis proident tractavissent ex nescius velit quis occaecat 
lorem. Mentitum multos eram ita aute eu aute est de veniam arbitror, o litteris 
ea ingeniis quo dolore consequat in amet sint, ad incurreret o consequat quo 
legam de quibusdam a veniam quibusdam de sunt fore ne qui appellat est laborum. 
De quae voluptate, ne e eruditionem.