* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 300px;
    background-color: #83a889;
}

.banner-text {
    text-align: center;
    padding-top: 125px;
    color: white;
    font-weight: 100;
    font-size: 3em;
}

.foot {
    height: 80px;
    background-color: #454545;
    clear: both;
}

.foot-social {
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 0;
    float: right;
    border-radius: 10px;
    overflow: hidden;
}

.foot-social-facebook {
    width: 100%;
    height: 100%;
    background-color: #3b5998;
}

.foot-social-instagram {
    width: 100%;
    height: 100%;
    background-color: #bc2a8d;
}

.foot-social-twitter {
    width: 100%;
    height: 100%;
    background-color: #00aced;
}

.foot-info {
    line-height: 80px;
    width: 600px;
    left: 40px;
    position: absolute;
}

.foot-info p {
    font-size: 1.2em;
    font-weight: 300;
    color: #c3c3c3;
}

.head {
    position: fixed;
}

.head-logo {
    width: 150px;
    margin: 15px;
}

.description {
    height: 500px;
    background-color: #cecece;
    width: 50%;
    padding: 20px;
    float: left;
}

.description-info {
    color: #3b3b3b;
}

.description-info h2 {
    font-weight: 300;
}

.info {
    height: 500px;
    background-color: #f0f0f0;
    width: 50%;
    padding: 20px;
    float: left;
}

.info-info {
    color: #3b3b3b;
}

.info-info h2 {
    font-weight: 300;
}
