/*
modular scale font sizes     
3.157
2.369em
1.777em
1.333em
1em
0.75em
*/

* {
   margin: 0;
   padding: 0;
   font-family: "Lato", sans-serif;
   color: #2c2c2c;
   box-sizing: border-box;
}

html {
   font-family: "Lato", sans-serif;
   box-sizing: border-box;
   font-size: 16px;
}

h1 {
   font-size: 3.157rem;
   font-weight: 700;
}

h2 {
   font-size: 2.369rem;
   font-weight: 700;
}

h3 {
   font-size: 1.777rem;
   font-weight: 300;
}

h4 {
   font-size: 1rem;
   font-weight: 400;
}

p {
   font-size: 1.333rem;
   font-weight: 300;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   width: 85%;
   margin: auto;
   background-color: #f7f7f7;
}

header h1 {
   font-weight: 300;
}

.flexbox {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-start;
}

#content {
   flex: 1 1 66%;
   max-width: 66%;
   margin: 0 10px 0 0;
   padding: 10px;
}

#sidespace {
   flex: 0 0 30%;
   margin: 0 0 0 10px;
}

#nav {
   position: fixed;
   width: 25%;
   right: 7.5%;
   padding: 10px;
}

.codebox code {
   background-color: #d3d3d3;
   font-size: 16px;
   overflow: scroll;
   display: block;
   padding: 2px;
   color: #535353;
   border-radius: 0 0 .5em .5em;
   border: 1.5em solid #d3d3d3;
   white-space: pre;
   font-family: "Cutive Mono", sans-serif;
}

.section {
   margin-bottom: 3em;
}

.section>h2 {
   margin-bottom: .25em;
}

.example {
   border: 2px solid #d3d3d3;
   border-radius: .5em .5em 0 0;
   overflow: scroll;
   background-color: rgba(126, 126, 126, 0.1);
}

.example td {
   padding: 4px 20px;
   vertical-align: bottom;
}

.example hr {
   margin: 0 2em;
}

.example table {
   width: 100%;
}

.example table td:nth-of-type(2) {
   text-align: right;
}

@media screen and (max-width: 500px) {
   html {
      font-size: 12px;
   }
   #nav {
      position: inherit;
      width: 100%;
   }
   #content {
      flex: 1 1 85%;
      max-width: 100%;
   }
}

@media screen and (min-width:500px) and (max-width:700px) {
   html {
      font-size: 12px;
   }
}

@media screen and (min-width:700px) and (max-width:900px) {
   html {
      font-size: 14px;
   }
}

@media screen and (min-width:900px) {
   html {
      font-size: 16px;
   }
}


/*Module CSS*/


/*Banner Module*/

.banner {
   max-width: 100%;
   height: 100vh;
   background: #fafafa url("modules/assets/coffeeshop.jpeg") center/cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-info {
   flex: 0 auto;
   height: auto;
   background-color: rgba(23, 23, 23, 0.25);
   padding: 2em;
   text-align: center;
}

.banner-info h2 {
   color: #fafafa;
}


/*Button Module*/

.button {
   display: flex;
   justify-content: center;
}

.button-container {
   flex: 0 auto;
   margin: 1em;
   padding: 8px 15px;
   border: 2px solid #fafafa;
}

.button-container h3 {
   color: #fafafa;
}

.button-info {
   flex: 0 auto;
   height: auto;
   background-color: rgba(23, 23, 23, 0.25);
   padding: 2em;
   text-align: center;
}

.button-info * {
   color: #fafafa;
}


/* Contact Module */

.contact {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   background-color: #3b3b3b;
}

.contact h4,
.contact p,
.contact h3 {
   color: #fafafa;
}

.contact>div {
   flex: 1 150px;
   margin: 30px;
   text-align: center;
}

.contact-social {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
}

.contact-social img {
   flex: 1 auto;
   height: 50px;
}


/* Events Module */

.events {
   display: flex;
   flex-flow: row nowrap;
   background-color: #171717;
}

.events h2,
.events h3,
.events h4,
.events p {
   color: #f7f7f7;
}

.events-left {
   flex: 1 0 50px;
   background: #fafafa url("modules/assets/audio.jpg") right center/cover;
   color: #f7f7f7;
   text-align: right;
   padding: 30px;
}

.events-right {
   flex: 1 0 50px;
   padding: 15px;
}

.events-right-item {
   margin-bottom: 30px;
}


/* Events Module */

.philosophy {
   padding: 3.157em;
   background-color: #FAFAFA;
}

.philosophy h2,
.philosophy p {
   color: #171717;
}

.philosophy-tag h2 {
   display: inline;
   vertical-align: -50%;
}

.philosophy-tag img {
   height: 5.61em;
   display: inline;
   vertical-align: middle;
}

.philosophy-tag span {
   white-space: nowrap;
}

.philosophy-text {
   margin: 2em 0;
   width: 66%;
   line-height: 1.777em;
}
